.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  &__pagination {
    font-size: 2rem;

    @include respond-to(mobile-medium) {
      font-size: 1.5rem;
    }
  }

  &--share {
    cursor: pointer;
    align-self: center;
    justify-self: center;
    background-color: rgb(40, 40, 40);
    color: $white;
    border: 1px solid $white;
  }
}
