.typo--card {
  font-size: 1.8rem;
  text-wrap: wrap;
}

.typo--caption {
  text-align: left;
  font-size: 3.5rem;
  font-family: $font-primary;
  letter-spacing: 2px;
}

.typo--header-cell {
  font-size: 13px;
  font-weight: bold;
  text-wrap: nowrap;
}
